<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th>ClassName</th>
        <th>MethodName</th>
        <th>Result</th>
    </tr>

    #foreach($row in $results)
        <tr>
            <td>$row.className</td>
            <td>$row.methodName</td>
            <td>$row.result</td>
        </tr>
    #end
</table>

</body>
</html>